/* src/fonts/fonts.css */

/* Epilogue Black */

@font-face {
  font-family: "Space MonoA";
  font-weight: normal;
  font-style: normal;
  src: url("./Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space MonoB";
  font-weight: 300;
  font-style: italic;
  src: url("./Space_Mono/SpaceMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Space MonoC";
  font-weight: bold;
  font-style: normal;
  src: url("./Space_Mono/SpaceMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Space MonoD";
  font-weight: 500;
  font-style: normal;
  src: url("./Space_Mono/SpaceMono-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Archia1";
  font-weight: 300;
  font-style: normal;
  src: url("./archia/archia-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Archia2";
  font-weight: 600;
  font-style: normal;
  src: url("./archia/archia-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Archia3";
  font-weight: 700;
  font-style: normal;
  src: url("./archia/archia-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Archia";
  font-weight: 800;
  font-style: normal;
  src: url("./archia/archia-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Archia";
  font-weight: 900;
  font-style: normal;
  src: url("./archia/archia-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Archias";
  font-style: normal;
  font-weight: normal;
  src: local("Archia"), url("./archia-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Archias2";
  font-style: normal;
  font-weight: bold;
  src: local("Archia"), url("./archia-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Archias3";
  font-style: normal;
  font-weight: 700;
  src: local("Archia"), url("./archia/DPEtYwqExx0AW.woff2") format("woff2");
}

.myFont {
  font-family: "Archias", sans-serif;
  font-weight: normal;
}

.myFontB {
  font-family: "Archias2", sans-serif;
  font-weight: bold;
}

.myFontBa {
  font-family: "Archias3", sans-serif;
  font-weight: 700;
}

.myFont1 {
  font-family: "Archia", sans-serif;
  font-weight: 100;
}

.myFont2 {
  font-family: "Archia", sans-serif;
  font-weight: 200;
}

.myFont3 {
  font-family: "Archia", sans-serif;
  font-weight: 300;
}

.myFont4 {
  font-family: "Archia", sans-serif;
  font-weight: 400;
}

.myFont5 {
  font-family: "Archia", sans-serif;
  font-weight: 500;
}

.myFont6 {
  font-family: "Archia", sans-serif;
  font-weight: 600;
}
.myFont7 {
  font-family: "Archia", sans-serif;
  font-weight: 700;
}
.myFont8 {
  font-family: "Archia", sans-serif;
  font-weight: 800;
}
.myFont9 {
  font-family: "Archia", sans-serif;
  font-weight: 900;
}

.text-7hxl {
  font-size: 5.3rem;
  line-height: 6rem;
}

.text-6hxl {
  font-size: 4.2rem;
  line-height: 5rem;
}

.text-5hxl {
  font-size: 3.9rem;
  line-height: 4.5rem;
}

.text-4hxl {
  font-size: 2.8rem;
  line-height: 3rem;
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.6em 1.5em;
  cursor: pointer;
  font-size: 19px;
  border-radius: 5em;
  background: #50b57a;
  border: 1px solid #50b57a;
  /* border: 1px solid #e8e8e8; */
  color: #ffffff;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: #414141;
  /* color: #bebebe; */
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  /* background-color: #f5f8f50d; */
  background-color: #0000000d;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  /* background-color: #50b57a; */
  background-color: #e8e8e8;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  /* color: #50b57a; */
  color: #060d06;
  border: 1px solid #e8e8e8;
  /* #c8c8c8 */
}

.button2:hover:before {
  top: -35%;
  background-color: #e8e8e8;
  /* #c8c8c8 */
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #e8e8e8;
  /* background-color: #50b57a; */
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.buttonReplac {
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  /* #2a322b White  #e8e8e8 */
  /* #eef1ee  Dark  #090909 */
  color: #090909;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.logo {
  width: 14rem; /* Adjust the width of your logo image */
  height: auto;
}

body span {
  color: #1e8f4d;
}

.imagess {
  height: 35rem;
  width: 38rem;
  object-fit: cover !important;
}

.imageWelc {
  height: 35rem;
  width: 38rem;
  border-radius: 1.5em;
  /* overflow: hidden; */
  object-fit: cover !important;
}

.myFontA {
  font-family: "Space MonoA", monospace;
  font-weight: normal;
}

.myFontB {
  font-family: "Space MonoB", monospace;
  font-weight: 300;
}

.myFontC {
  font-family: "Space MonoC", monospace;
  font-weight: bold;
}

.myFontD {
  font-family: "Space MonoD", monospace;
  font-weight: 500;
}

.myColor {
  color: #50b57a;
  background-color: #50b57a;
}

.myFontColor {
  color: #50b57a;
  /* background-color: #50b57a; */
}
