.cards {
  --background: #fff;
  --cardShadow: rgba(32,33,37,.1);
  --cardShadowHover: rgba(32,33,37,.06);
  --cardShadowActive: rgba(32,33,37,.55);
  --cardBorder: #85a795;
  --cardBorderActive: #1a73e8;
  --textColor: #202125;
  --linkColor: #14592f;
  --ratingColor: #faab00;
}

.patternTwo {
    width: 100%;
    height: 100%;
    --s: 15px; /* control the size */
  
    --c: #0000, #50b57a 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #df272771;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
  }
  


@media (prefers-color-scheme: dark) {
  .cards {
    --background: #50b57a;
    --cardShadow: rgba(0,0,0,.28);
    --cardShadowHover: rgba(0,0,0,.16);
    --cardShadowActive: rgba(0,0,0,.55);
    --cardBorder: #43534a;
    --cardBorderActive: #8ab4f8;
    --textColor: #e9eaee;
    --linkColor: #0c6c31;
  }
}

.cards {
  width: 250px;
  height: 300px;
  aspect-ratio: 2/3;
  background: var(--background);
  color: var(--textColor);
  border: 1px solid var(--cardBorder);
  padding: 25px;
  box-shadow: 8px 8px 0 var(--cardShadow);
  transition: box-shadow .5s, transform .5s;
  border-radius: 8px;
  display: inline-block;
}

.cards:hover {
  transform: translate(-2px, -4px);
  box-shadow: 16px 16px 0 var(--cardShadowHover);
  /* background: #3c4043 ; */
}

.cards:active {
  transform: translate(-2px, -4px);
  border: 2px solid var(--cardBorderActive);
  box-shadow: 4px 4px 0 var(--cardShadowActive);
}

.cards > .icon,
.cards > .title,
.cards > .description {
  margin-bottom: 0.7em;
  cursor: default;
  user-select: none;
}

.cards > .title {
  margin-top: 1.5em;
  font-weight: bold;
}

.cards > .description {
  line-height: 1.5em;
  min-height: 6em;
}


.cards > .link {
  margin-bottom: 1rem;
  color: var(--linkColor);
  font-size: .8em;
  font-weight: 600;
}

/* Optional ~ Link the whole card */
.cards > .link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cards > .link:after {
  content: "↗";
  display: inline-block;
  margin-left: .3em;
  transition: transform .3s ease-in-out;
}

.cards:hover > .link:after {
  transform: translate(.2em, -.2em);
}

