.containerss {
  height: 70vh;
  width: 55rem;
  /* border-radius: 1em; */
  overflow: hidden;
  /* box-shadow: 0 10px 20px #dbdbdb; */
  font-family: sans-serif;
  flex: 5;
  /* background-color: blue; */
}

.palette {
  display: flex;
  height: 100%;
  width: 100%;
}

.color {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: flex 0.1s linear;
  margin-right: 2rem;
  border-radius: 60em;
}

.color span {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.color:nth-child(1) {
  background: #264653;
}

.color:nth-child(1).active {
  flex: 3;
  /* transition: ; */
}

.color:nth-child(2) {
  background: #2a9d8f;
}

.color:nth-child(3) {
  background: #e9c46a;
}

.color:nth-child(4) {
  background: #f4a261;
}

.color:nth-child(5) {
  background: #e76f51;
}

.color:hover {
  /* flex: 3; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-grow: 3;
  /* flex-shrink: 1; */
  /* flex-basis: content; */
  transition: all 0.75s;
  /* transition: flex-basis 4s ease-in-out; */
  /* transition: opacity 4s ease-in-out; */
}

.color:hover span {
  opacity: 1;
}

/* ..........................  ..........................  ..........................  ..........................  .......................... */

.numberOne {
  margin-right: 10px;
  flex: 2;
  /* background-color: red; */
  padding-left: 5.5rem;
  line-height: normal;
  /* align-items: center;
  justify-content: center; */
}

.heroRow {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.heroChild {
  font-size: 74px;
  font-weight: 700;
  color: black;
  padding-right: 3rem;
  /* display: flex; */
}

.heroChild:nth-child(1) {
  background: #ffff;
  /* background: #264653; */
}

.heroChild:nth-child(2) {
  background: #ffff;
}

.heroChild:nth-child(3) {
  background: #ffff;
}

.numberOne p {
  margin-top: 4rem;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 40em;
}

.box {
  width: 26rem;
  height: 6rem;
  /* background-color: #3dbc7f; */
  display: flex;
  position: absolute;
  margin-left: 2rem;
  box-shadow: #5b6e6133 0px 7px 29px 0px;
  align-items: center;
  justify-content: center;
  /* 
  top: 100;
  left: 100; */
}

.boxA {
  background: #ffffff;
  flex: 3;
  height: auto;
  align-items: center;
  justify-content: center;
}


.boxB {
  /* background: #085a50; */
  /* background-color: rgb(6 95 70 / var(--tw-text-opacity)); */
  color: #ffffff;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* .boxB {
  width: 20rem;
  height: 5rem;
  background-color: blue;
  position: absolute;
  float: right;
} */
